<br/>
<br/>
<div class='container'>
	<h1>About Me</h1>
	</br>
	<div class="well well-lg">
		<div class="row">
			<div class="col-md-3">
				<%= image_tag "carleton.jpg", height: '150', width: '250' %>
			</div>
			<div class="col-md-9">	
				<p><h4> I live in Ottawa and I'm currently in my third year of Software Engineering at Carleton University. I got into programing by accident, I was required to take an introductory programing class my first year of Univeristy. I immidiately fell in love with it and changed my major to Software the next semester. Since then I've spent my free time learning new languages and hacking on personal projects, a list of which can be seen at my github page, <a href='https://github.com/mitchcail'>github.com/mitchcail</a></h4></p>
			</div>
		</div>
	</div>
	</br>
	<div class="well well-lg">
		<div class='row'>
			<div class='col-md-9'>
				<p><h4> I'm familiar with a few programing language, I use a lot of java for school. However, For my own projects I'm a big fan of Rails or Python, and I just starting playing with the GO language to try and create simple servers.</p>
				<p>I've had the chance to hack away at some pretty cool projects in my free time. I created a python script that crawls Wikipedia for the top S&P 500 companies and then returns their stock prices (<a href='https://github.com/mitchcail/StockCrawler'>Repository here</a>). I'm also currently trying to work on a social network built on the Rails framework, check it out <a href='https://github.com/mitchcail/Poodle_V3'>here.</a></h4></p>
				<p><h4>Another fun project I worked on was creating a game using TDD and Java. I built it with three of my friends, It's a clone of Plants Vs. Zombies. It's far from being as good as the original one, but it was our first chance trying to build a game and I'm pretty proud of it. That repository is <a href='https://github.com/mitchcail/PlantsVsZombie_Clone'>here.</a></h4></p>
			</div>
			<div class="col-md-3">
				<%= image_tag "sandwich.png", height: '200', width: '200' %>
			</div>
		</div>
	</div>
	</br>
	<div class="well well-lg">
		<div class='row'>
			<div class="col-md-3">
				</br></br>
				</br></br>
				<%= image_tag "poodle.JPG", height: '200', width: '250' %>
			</div>
			<div class='col-md-9'>
				<p><h2>A bit about me</h2></p>
				<p><h4>I'm originally front Halifax, but I've had the chance to live in multiple places in my life, including Fance and the US. I spent most of my childhood playing hockey, which allowed me to travel even more places through the US and Canada.</h4></p>
				<p><h4>I got into Carleton 3 weeks before the school year started and when my parents dropped me off for frosh week that was the first time I'd ever been in Ottawa. I've since fallen in love with the city and now consider it my home.</h4></p>
				<p><h4>Since Second year I've been part of the Software Society, were I try to plan events for students that hopefully make school life a little more bearable. I'm also on the Power Lifting team at Carleton, and at 5'9 and 165 pounds, I proudly hold the title of the 'weakest strong man'.</h4></p>
				<p><h4>My best programming partner is my Poodle Cali, who lays around and hangs out with me while I'm coding.</h4></p>
				<p><h4>You can contact me by phone at 902-401-0327 or by email at mitch.cail@gmail.com</h4></p>
			</div>
		</div>
	</div>

	</br>
	<h1>About The Project</h1>
	</br>
	<div class="well well-lg">
		<div class="row">
			<div class="col-md-3">
				</br>
				<%= image_tag "pinterest.jpeg", height: '200', width: '250' %>
			</div>
			<div class='col-md-9'>
				<p><h4>The purpose of the project was to make a photo sharing app inspired by pinterest. So a user is able to sign in and post photos, as well as edit photos that they post. Anyone is able to see the posted photos, but you must be signed-in in order to add new photos. So there is a has-many relationship between photos and users, where a user has-many photos.</h4></p>
				<p><h4>*note* There is a known bug that exists with the display of the photos sometimes, at least on firefox (this bug doesn't seem to appear in safari). When you move to the homepage from somewhere else (like the about page) the photos overlap and don't look right. I'm still trying to figure out the cause of it, but I'm pretty sure it's caused by turbolinks that was added in rails 4. If you refresh the page the photos will appear normally again. </h4></p>
			</div>
		</div>
	</div>
	</br>
	<div class="well well-lg">
		<p><h2>Technology Stack</h2></p>
		<p><h4>This site was developed using Rails 4 and Ruby 2. For deployment I used Heroku with a PostGres DataBase and the photo's are saved using S3 from Amazon Web Services. For uploading the photos I chose to use the Paperclip gem and the Devise gem was used for modeling Users. </h4></p>
		<p><h4>For the front-end I used Bootstrap 3 along with some coffescript. JQuery Masonary was used to give the photos that layered Pinterest look.</h4></p>
		<p><h4>You can see the project at my github page, <a href='https://github.com/mitchcail/internify'>github.com/mitchcail/internify</a></h4></p>
	</div>
</div>