<div class="jumbotron">
	<div class="container">
    <div class="row">
      <h1>See why we were voted 'Most Mediocre'</h1>
      <div class="col-sm-6">
        <p>oh boy... this is probably where your looking for an explanation from whats above. honestly I have nothing to write, they pay me shit here</p>
      </div>
      <div class="col-sm-6">

      </div>
    </div>
	</div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
