<div class="jumbotron">
	<div class="container">
    <div class="row">
      <h1>Hello Shopify</h1>
      <h3>My name is Mitch Cail and I want to intern with you this summer</h3>
    </br>
      <div class="col-sm-6">
        <p>take a tour and let me show you why I would be a great fit with you</p>
      </div>
      <div class="col-sm-6">
        <%= image_tag "shopify-bag.png", height: '400', width: '400' %>
      </div>
    </div>
	</div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
