<div class='container'>
</br>
</br>
<div class='well well-lg'>
<p align="center">
    <strong>Mitchell Cail</strong>
</p>
<p align="center">
    <strong></strong>
</p>
<p align="center">
    <em>github.com/mitchcail 902-401-0327 Mitch.cail@gmail.com</em>
</p>
<p align="center">
    <em></em>
</p>
<p>
    CURRENT ADDRESS PERMANENT ADDRESS
</p>
<p>
    3049 Uplands Dr. 11 Lower Lahave Rd.
</p>
<p>
    Ottawa, Ontario Riverport, NS
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong><u>Education</u></strong>
    <u></u>
</p>
<p>
    <em></em>
</p>
<p>
    <strong>Bachelor of Engineering, Computer Systems Engineering</strong>
    <strong> </strong>
    September 2011 – Present
</p>
<p>
    <em>Carleton University, Ottawa, Ontario</em>
    <em></em>
</p>
<ul>
    <li>
        <u>Anticipated graduation date</u>
        : April 2015
    </li>
    <li>
        <u>Coursework</u>
        : Object Oriented Design; Imperative Programming; Computer Architecture and Organization; Data Structures and Algorithms; Operating Systems; Software
        Development Patterns
    </li>
</ul>
<p>
    <strong></strong>
</p>
<p>
    <strong><u>Work Experience</u></strong>
    <u></u>
</p>
<p>
    <strong>Software Developer Intern </strong>
    Summer 2013<strong></strong>
</p>
<p>
    <em>Acquity Group, Ottawa, ON</em>
</p>
<p>
    <em></em>
</p>
<p>
    · Developer on a 16 person team responsible for rebuilding ALDO Shoes E-commerce website.
</p>
<p>
    · Responsibilities included working in a Java and JavaScript based environment to develop and test both the back-end and front-end functionality for the
    ALDO site.
</p>
<p>
    · Major focuses included working on optimizing the user checkout flow, which included integrating both promotions/vouchers and credit card payment into the
    site.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Software Engineering Intern</strong>
    Summer 2012
</p>
<p>
    <em>Xeos Technologies</em>
    , Bedford, NS
</p>
<ul type="disc">
    <li>
        Worked as part of a team in a Java based environment to develop a web service for billing documentation. The program utilized Apache CXF to create a
        back end service that allowed executives at Xeos Tech to directly access customer billing records.
    </li>
</ul>
<ul type="disc">
    <li>
        Daily responsibilities included working with Electrical and Computer Engineers to develop and test software for marine GPS technologies.
    </li>
</ul>
<p>
    <strong></strong>
</p>
<p>
    <strong>Grounds Keeper </strong>
    <strong> </strong>
    Summer 2011
    <br/>
    <em>1757 Golf Course</em>
    , Ashburn, Virginia
</p>
<p>
    · Under the direction of the course Superintendent, supervised a team of 15 maintenance employees responsible for the grounds keeping of a nationally
    recognized golf course, which resulted in greater efficiency and effectiveness of daily course work.
</p>
<p>
    <strong><u>Project Experience</u></strong>
</p>
<p>
    <strong>Poodle Social Network</strong>
</p>
<p>
· Developing a social network using the Rails framework using Test Driven Development as well as Ajax, CoffeeScript, Bootstraps, and Heroku for deployment.    <strong></strong>
</p>
<p>
· Currently allows users to register, create blog post and friend other users. As well, users are able to upload images to a main gallery.    <strong></strong>
</p>
<ul>
    <li>
        Code repository at <u>github.com/mitchcail/Poodle</u>.<strong></strong>
    </li>
</ul>
<p>
    <strong></strong>
</p>
<p>
    <strong>Software Designer for robotics club self-driving car project</strong>
</p>
<p>
    · Worked as part of a team that develops and tests Python software to operate an autonomous remote controlled car that uses concepts of artificial
    intelligence including probabilistic computing and localization.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Java Game Development</strong>
</p>
<p>
    · Side project with three other classmates to rebuild popular mobile game, Plants Vs. Zombies.
</p>
<p>
    · Implemented full MVC framework from scratch using Java and tested using JUnit framework. <strong></strong>
</p>
<ul>
    <li>
        Code repository available at <u>github.com/mitchcail/PlantsVsZombie_Clone</u><strong></strong>
    </li>
</ul>
<p>
    <strong></strong>
</p>
<p>
    <strong>Stock Crawler built using Python and SQLite3</strong>
</p>
<p>
    · Developed a python script that grabs a list of the S&amp;P 500 companies from Wikipedia and then parses each company and returns their stock price from
    Google Finance.
</p>
<p>
    · Currently working on using the flask framework to put the app online.
</p>
<ul>
    <li>
        Code repository available at <u>github.com/mitchcail/StockCrawler</u>.
    </li>
</ul>
<p>
    <strong>Member of the Carleton engineering design group</strong>
</p>
<ul type="disc">
    <li>
        Worked as a member of a 3-person team on a reverse engineering project using 2D drafting software and 3D modeling program (e.g., IntelliCAD and Pro/E)
        to redesign more user and environmentally friendly products.
    </li>
</ul>
<p>
    <strong></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong><u>University and Community Involvement</u></strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>VP Social Software Engineering Society </strong>
    current
</p>
<p>
    · Tasked with the responsibility of creating events for society members.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Computer Engineering Society Council Representative </strong>
    Sept 2012 – April 2013<strong></strong>
</p>
<p>
    · Responsible for clearly communicating the current affairs of the Engineering Society to the students of Computer Engineering by means of classroom
    announcements and online forum discussions. Other responsibilities include being a liaison between the Engineering Student Council and the Computer
    Engineering Society.
</p>
<p>
    <strong></strong>
</p>
<p>
    <strong>Member of both the Ottawa Ruby and Python programming groups</strong>
</p>
<p>
    <strong></strong>
</p>
<p>
    · Meetup twice monthly with other passionate developers as a chance to share ideas and get help on projects. <strong></strong>
</p>
</div>
</div>