// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	
	background-color: #ecf0f1;
}

.jumbotron {
	text-align: center;
	background-color: #96BF48;
	padding-top: 250px;
	padding-bottom: 240px;
}

.navbar-inverse {
  background-color: #0E1206;
  border-color: #080808;
}